.title  {
   color: white;
   margin-top: 40px;
   font-size: 4em;
   max-width: 100%;
   text-shadow: 2px 4px 10px black;
    }  
 
.subtitle {
    font-variant: small-caps;
    margin-top: -45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }

body {
   text-align: right; 
   font-size: 1em;
   background-color: #cadcef;
   font-family: sans-serif;
   margin: 0 auto;
   max-width: 900px;
   line-height: 1.4;
   padding-left: 10px;
   padding-right: 10px;
    
    }    

blockquote {
    font-size: 1.5em;

    }

p {
  font-style: oblique;  
    
  
}

