.title1  {
   color: black;
   margin-top: 40px;
   font-size: 4em;
   max-width: 100%;
   text-shadow: 2px 4px 10px grey;
    }  
 

.title2  {
   color: black;
   margin-top: 40px;
   font-size: 4em;
   max-width: 100%;
   text-shadow: 2px 4px 10px grey;
    }  


.title3  {
   color: black;
   margin-top: 40px;
   font-size: 4em;
   max-width: 100%;
   text-shadow: 2px 4px 10px grey;
    }  


.subtitle1 {
    font-variant: small-caps;
    margin-top: -45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }

.subtitle2 {
    font-variant: small-caps;
    margin-top: -45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }


.subtitle3 {
    font-variant: small-caps;
    margin-top: -45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }


body1 {
   text-align: right; 
   font-size: 1em;
   background-color: #cadcef;
   font-family: sans-serif;
   font-style: normal
   margin: 0 auto;
    max-width: 900px;
   line-height: 1.4;
   padding-left: 10px;
   padding-right: 10px;
    
    }    


blockquote1 {
    font-size: 1.5em;
    padding-right: 0px;
    }

    
blockquote2 {
    font-size: 0.5em;
    padding-right: 10px;
    }

blockquote3 {
    font-size: 0.5em;
    padding-right: 10px;
    }


p {
 
    
  
}

