.title  {
   color: black;
   margin-top: 40px;
   font-size: 4em;
   max-width: 100%;
   margin-left: 0px;
   text-shadow: 2px 4px 10px grey;
    }  
 

.subtitle1 {
    font-variant: small-caps;
    margin-top: 45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }

.subtitle2 {
    font-variant: small-caps;
    margin-top: -45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }


.subtitle3 {
    font-variant: small-caps;
    margin-top: -45px;
    font-size: 1.4em;
    margin-bottom: 50px;
   }


body {
   text-align: center; 
   font-size: 1em;
   font-family: sans-serif;
   font-style: normal
   margin: 0 auto;
   max-width: 900px;
   line-height: 1.4;
   padding-left: 10px;
   padding-right: 10px;
   background-color: #40cbae; 
    }    

    
blockquote {
    font-size: 1.5em;
    padding-right: 50px;
    text-align: center;
    margin-left: 200px;
    line-height: 0.1;
    padding-top: 100px;
    }

    
blockquote2 {
    font-size: 1.5em;
    padding-right: 100px;
    text-align: center;
    margin-left: 200px;
    line-height: 0.1;
    
    }

blockquote3 {
    font-size: 1.5em;
    padding-right: 10px;
    text-align: right;
    margin-top: 10px;
    line-height: 0.1;
    
    }


p {
 
    
  
}

